.left_side {
    position: fixed;
    top:0;
    left:0;
    width: 360px;
    height: 100vh;
    padding: 70px;
    box-sizing: border-box;
    border-right: 1px solid rgb(212, 212, 212);
    background: url('../../assets/img/bg.jpg') no-repeat;
    background-size: cover;
    background-origin: padding-box;
    .head {
        font-size: 14px;
        color:#666;
        font-weight: bold;
        margin-bottom: 50px;
        img {
            display: block;
            width: 92px;
            height: 92px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    .links{
        display: flex;
        align-items: center;
        margin-top: 80px;
        .links_item{
            display: flex;
            align-items: center;
            justify-content: center;
            width:30px;
            height:30px;
            margin-right: 10px;
            background-color: #fff;
            border-radius: 50%;
            .icon{
                width:70%;
                height: 70%;
                border-radius: 50%;
            }
        }
    }
}