body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
  letter-spacing: 1px;
  word-break: break-all;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

input {
  outline: 0;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid #f40;
}

pre {
  white-space: pre-wrap;
  padding: 20px;
  border-radius: 3px;
  background-color: rgba(239, 245, 252, 0.144);
  border: 1px solid rgb(223, 217, 190);
  /* border: 1px solid #eee; */
  /* box-shadow: 0 2px 12px 0 rgb(0, 0, 0, 0.1); */
}

pre code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}